<div class="row">
	<div class="center-block">
		<h1>PERSONAL EMAIL TALK</h1>
	</div>
</div>

<% (1..7).to_a.each do |no| %>
	<div class="row" style="margin-top: 30px;"></div>
	<div class="row">
		<div class="center-block">
			<%= image_tag "personal_mail_#{no}.png", size: "1100x600" %>
		</div>		
	</div>
<% end %>