<nav class="navbar navbar-fixed-top navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsable">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Exposing Seller</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapsable">
      <ul class="nav navbar-nav foo" id="menu">
        <li><a href="/skype_talk">Skype Talk</a></li>
        <li><a href="/personal_mail_talk">Personal Email Talk</a></li>
        <li><a href="/aliexpress_mail_talk">Ali-express Email Talk</a></li>  
        <li><a href="/proofs">More Proofs</a></li>      
      </ul>
    </div>
  </div>
</nav>